# Node.js
node_modules/
npm-debug.log

# Frontend Build
frontend/dist/
frontend/build/

# Python
__pycache__/
*.pyc
venv/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env
frontend/.env
backend/.env

# Logs
*.log

# ML Models / Large Files
*.gguf

# Generated Feature Files
data/features/*.npy
data/features/*.json

# OS / Editor
.vscode/
.DS_Store